body	
{
	background: #fff;
	font-family: "Tahoma", "Arial", sans-serif;
	color:#333;
	font-size:1em;
}


/* FONTS */
@font-face 
{
    font-family: "Trajan Pro";
    src: url("../fonts/TrajanPro-Regular.otf") format("opentype");
}
@font-face 
{
    font-family: "Trajan Pro Bold";
    src: url("../fonts/TrajanPro-Bold.otf") format("opentype");
}


/* HEADER */

h1 a {
	font-family: "Trajan Pro Bold", "Times New Roman", serif;
}

header a {
	text-decoration:none;
	color:#630;
}

.titlebar a {
	text-decoration:none;
	color: #fff3d6;
}

h1 a {
	font-size:2em;
}

header .logo a
{
	position: relative;
	top: 7px;
	font-size:2.2em;
	letter-spacing: 0.1px;
	word-spacing: -6px;
}

.moved 
{
	position:relative;
	top:3em;
	overflow:visible;
}

.line {
	border-bottom:1px solid #630;
}

.row {
	margin-top:.5em;
	margin-bottom:.5em;
}

.cart-contents {
	border-left-style:solid;
	border-left-width:thick;
}

header .check input[id="search"]
{
	font-family: "Calibri","Helvetica", sans-serif;
	text-transform: uppercase;
	color: #444;
	border: #888 solid 1px;
	background: #dbcca9;
}

header .cart input[id="login-username"]
{
	width: 8em;
}

header .cart input[id="login-password"]
{
	width: 8em;
}

header .cart input[id="login-submit"]
{
	font-family: "Calibri","Helvetica", sans-serif;
	text-transform: uppercase;
	color: #444;
	border: #888 solid 1px;
	background: #dbcca9;		
	width: 4.5em;
}

header .cart a#login-signup
{
	font-family: "Calibri","Helvetica", sans-serif;
	font-size: 12px;
	text-transform: uppercase;
	color: #444;
	/*border: #888 solid 1px;*/
	/*background: #dbcca9;		*/
	width: 4.5em;
}


/* NAVIGATION */

nav li a
{
	font-family: "Calibri","Helvetica", sans-serif;
	font-size: 12px;
	color: #444;
	letter-spacing: 0.2em;
	text-transform: uppercase;
}

nav li a:hover
{
	color: #74C9DB;
}

/* FOOTER */

footer {
	text-align:center;
}

/* HOME */

body#home
{
	background: #ddd;
}

.titlebar {

	position:relative;
	z-index:2;
	text-align:center;
	font-size:2em;
	font-size-adjust:inherit;
	background: rgba(116, 69, 8, 0.5);
	color: #fff3d6;
	font-weight: bold;
	-moz-text-shadow: 1px 1px 1px #744508;
	-webkit-text-shadow: 1px 1px 1px #744508;
	text-shadow: 1px 1px 1px #744508;
	text-align: center;
	height:110%;
}

.featured 
{
	position:relative;
	z-index:1;
	margin-top:-30%;
}

.featured img 
{
	width:100%;
}

.container .back p 
{
	padding-top:.5em;
	padding-bottom:1em;
}

/* CONTACT */

#contact .container .row 
{
	padding:1em;
	background-color:#ebddce;
	border:2px solid #804000;
	border-radius:6px;
}

#contact .container .titlebar 
{
	margin-bottom:.5em;
	padding:.3em;
}


/* POLICIES */

#policies .row .titlebar 
{
	margin-bottom:.5em;
	margin-top:.5em;
	padding:.3em;
}

#policies .row .first .titlebar
{
	margin-top:-.5em;
	padding-top:.75em;
}

/* PRODUCTS */

#products .row .threecol .product img
{
	/* trying to resize images so they occupy the same size div, without being stretched weirdly.  */
	/*height: 15em;
	width: 16em;*/
}

#products .row .threecol .product
{
	background-color:#ebddce;
	border:2px solid #804000;
	border-radius:3px;
	/*height:15em;*/
}

/* CART PRODUCTS */

#cartProducts .stuff .row {
	background-color:#ebddce;
	border:2px solid #804000;
	border-radius:6px;
}

#cartProducts .stuff .row .product {
	padding:.5em;
}

#cartProducts .row .total {
	border-top:2px solid #804000;
}

#cartProducts .row .continue {
	background-color:#ebddce;
	margin-top:.5em;
	margin-bttom:.5em;
	padding:1em;
	text-transform:uppercase;
	font-size:.9em;
}

#cartProducts .row .continue a{
	color:#000;
	padding:2em;
	text-decoration:none;
}

#cartProducts .row .titlebar {
	margin-bottom:.5em;
	padding:.3em;
}